---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';

const post = await getCollection('post');
---

<Layout title='Learn English'>
    <header class='flex flex-col items-center pt-10'>
        <h1 class='text-7xl font-semibold text-center drop-shadow-md'>
            Welcome to learn <span
                class='text-transparent font-bold bg-clip-text bg-gradient-to-l from-cyan-500 to-sky-500'
                >English Blogs</span
            >!
        </h1>
        <p class='p-5 font-semibold text-center'>
            In this blog you can refresh your knowledge about the level
        </p>
    </header>
    <main>
        <section>
            <h2 class='text-2xl font-bold text-white mb-6'>Latest Posts</h2>
            <div class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6'>
                {
                    post.map((post) => {
                        const { slug, data } = post;
                        const { title, description, img, tags } = data;
                        return (
                            <article class='flex flex-col shadow-lg overflow-hidden'>
                                <a href={`/post/${slug}`}>
                                    <img
                                        class='w-full h-48 object-contain'
                                        src={`/${img}`}
                                        alt={title}
                                        transition:name={`img-${slug}`}
                                    />
                                    <div class='p-6 flex flex-col justify-center items-center '>
                                        <h2
                                            class='text-2xl md:text-4xl font-bold text-white mb-2'
                                            transition:name={`title-${slug}`}
                                        >
                                            {title}
                                        </h2>
                                        <div class='flex flex-wrap gap-2 mb-4'>
                                            {tags.map((tag: any) => (
                                                <span class='bg-blue-500 text-white px-3 py-1 rounded-full text-sm'>
                                                    {tag}
                                                </span>
                                            ))}
                                        </div>
                                        <p class='text-gray-300 line-clamp-3 md:line-clamp-none'>
                                            {description}
                                        </p>
                                    </div>
                                </a>
                            </article>
                        );
                    })
                }
            </div>
        </section>
    </main>
</Layout>
