---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import ArrowBack from '../../components/ArrowBack.astro';

export const getStaticPaths = async () => {
    const post = await getCollection('post');
    return post.map((post) => {
        return {
            params: {
                id: post.slug,
            },
            props: {
                post,
            },
        };
    });
};

const { post } = Astro.props;
const { data, slug } = post;
const { title, img, tags } = data;

const { Content } = await render(post);
---

<Layout title={`${slug} - Learn English`}>
    <div class="max-w-4xl mx-auto items-center" >
        <div class="flex pb-6 ">
            <a href="/" class=" flex items-center text-center text-white no-underline"><ArrowBack/> <span class="text-3xl">Back</span></a>
        </div>
        <div class="flex flex-col md:flex-row mb-6">
            <img src={`/${img}`} alt={title} class="w-full md:w-48 h-auto rounded-lg mb-4 md:mb-0 md:mr-6" transition:name={`img-${slug}`} />
            <div class="flex flex-col justify-center">
                <h1 class="text-3xl md:text-5xl font-bold mb-4 text-center md:text-left" transition:name={`title-${slug}`}>
                    <span class="text-transparent bg-clip-text bg-gradient-to-t from-cyan-500 to-sky-100">{title}</span>
                </h1>
                <div class="flex flex-wrap gap-2 mb-4 md:justify-start">
                    {tags.map((tag: any) => (
                        <span class="bg-blue-500 text-white px-3 py-1 rounded-full text-sm">{tag}</span>
                    ))}
                </div>
            </div>
        </div>
        <div class="prose prose-invert prose-xl max-w-none">
            <Content />
        </div>
    </div>
</Layout>